.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

.city-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100vh;
}

.city-buttons {
  align-items: center;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-basis: 14%;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 0rem auto;
  overflow: hidden;
  width: 96%;
}

.name-holder h2 {
  font-size: 1.5rem;
  width: 150%;
}

.city-buttons h3 {
  align-self: flex-start;
  flex-basis: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: left;
}

.city-buttons h2 {
  color: rgba(255,255,255,0.4);
  font-style: italic;
  margin-right: 1rem;
  transform: translate(0%, -23%);
}

.city-weather {
  margin-left: auto;
  transform: translateX(215%);
}

.weather-icon {
  font-size: 10rem;
  transform: translateX(30%);
  color: rgba(255,255,255,0.2);
}

@media screen and (min-width: 800px) {

 .App {
   display: flex;
   flex-flow: row;
   justify-content: space-around;
 }

 .city-nav {
   flex-basis: 35%;
 }

}
