.WeatherDisplay {
  /* border: 1px solid rgba(0,0,0,0.4); */
  border-radius: 8px;
  color: white;
  min-height: 100vh;
  margin: 0rem auto;
  width: 97vw;
  font-family: sans-serif;
  padding-bottom: 1.5rem;
}

.daily-weather {
  /* background-color: rgba(0,0,0,0.3); */
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  padding-top: 0.75rem;
  margin-top: 1rem;
  /* position: sticky;
  top: 0.5rem; */
}

.city-background {
  color: rgba(255,255,255,1);
  font-family: 'Francois One', sans-serif;
  font-size: 3rem;
}

.daily-weather div {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-around;
}

.daily-weather h2 {
  font-size: 1rem;
}

.forecast-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 85vh;
}

.daily-title {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  margin: 0.2rem 1rem;
  text-align: left;
  font-size: 1.4rem;
  /* font-style: italic; */
  padding: 0.5rem 1rem;
}

.forecast-block {
  flex-wrap: wrap;
}

.hourly-block {
  flex: 1 0 20%;
  height: 2.2rem;
  margin: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour, .hourly-temp, .hourly-icon {
  flex-basis: 30%;
}

.hour {
  align-items: center;
  /* background-color: rgba(0,0,0,0.1); */
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0rem;
  margin-top: 0.5rem;
}

.hourly-temp {
  /* color: rgba(255,255,255,0.2); */
  /* transform: translate(10%, 150%) scale(3.5); */
}

.hourly-icon {
  font-size: 1.5rem;
  /* transform: translate(-0%, -30%); */
}

@media screen and (min-width: 800px) {

  .WeatherDisplay {
    flex-basis: 55%;
  }



}
