* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}

html {
  width: 100%;
}

body {
  background: radial-gradient(#29f, #2cf);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Francois One', sans-serif;
}
